* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-size: 16px;
    /*  max-width: 768px;
    min-width: 425px; */
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 50%;
}


/* 
.santa {
    display: none;
} */